/* CSS Document */

.login-page {
  width: 40%;
  padding: 8% 0 0;
  margin: auto;
}
.forms {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
	input{		
  		outline: 0;
  		background: #e0e0e0;
  		width: 100%;
  		border: 0;
  		margin: 0 0 15px;
  		padding: 15px;
  		box-sizing: border-box;
  		font-size: 14px;
	} 
	input[type="text"]:hover,
	input[type="password"]:hover,
	input[type="text"]:focus,
	input[type="password"]:focus,{
		background: #cccccc;
	}
	button{
  		margin: 0 0 15px;
		width: calc(100%-15px);
	}
	input[type="submit"], button {
  		outline: 0;
  		background: #4CAF50;
  		width: 100%;
  		border: 0;
  		padding: 15px;
  		color: #FFFFFF;
  		font-size: 14px;
  		-webkit-transition: all 0.3 ease;
  		transition: all 0.3 ease;
  		cursor: pointer;
	}
	input[type="submit"]:hover,
	button:hover,
	.form input[type="submit"]:active,
	button:active,
	.form input[type="submit"]:focus,
	button:focus{
  		background: #43A047;
	}
	.register-form, .signIn {
  		display: none;
	}
	.register-form {
  		display: none;
	}
	button{
		margin: 0;
	}
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}